body,
button,
input,
textarea {
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif !important;
}

.nav-logo-container {
    .mark {
        display: none;
    }

    .text {}

    .cursor {
        display: none;
    }
}

.main-logo-container {
    width: 100%;

    .cover {
        position: absolute;
        top: 0px;
        z-index: -10;
        
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 140px;
            bottom: 0;
            z-index: 10;
        }
    }

    .logo {
        width: 300px;
        margin: -380px auto 280px;
  
        @media (--tablet) {
            margin: -305px auto 225px;
            width: 220px;
        }
  
        @media (--phone) {
            width: 33%;
            margin: -46% auto 32%;
        }
    }
}

.tags,
.readMore,
.navigation {
    margin-bottom: 0 !important;
    opacity: unset !important;

    a {
        margin-bottom: 0;
        font-weight: 600;
    }
}

.navigation {
    margin: -10px 0 30px !important;

    &> span {
        background: none !important;
    }
}

header {
    .navbar-item {
        margin: 0 0 0 auto;

        input {
            width: 8rem;
            padding: 4px;
            border-style: none;
            border-radius: 2px;

            @media (--phone) {
                width: 7rem;
            }
        }

        /* Search Results */
        .navbar-dropdown {
            display: block;
            position: absolute;
            padding: 4px;
            margin: 4px 0;
            z-index: 10;

            background: linear-gradient(90deg,rgba(68,68,68,.975),hsla(0,0%,45.5%,.975)) 50%;
            border-radius: 2px;
            border-width: 4px;
            border-style: groove ridge ridge groove; /* Top Right Bottom Left */
            border-color: #747474 #313131 #313131 #747474;
            color: #aaa;
            text-shadow: #443 1px 1px;

            a {
                display: block;
                padding: 0 8px;
                text-align: left;
                font-weight: 400;
                cursor: crosshair;

                &:hover {
                    background: rgba(37,38,39,.125);
                    cursor: crosshair;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;

                        background: url(/images/yubi.png) left 0rem top 0.5em no-repeat;
                        background-size: 2em;
                        width: 2rem;
                        height: 2rem;
                        left: -2rem;
                        margin-left: .5rem;
                        z-index: 100;
                    }
                }
            }
        }
    }

    /* Header SubMenu */
    .subMenu {
        display: block;
        position: absolute;
        top: 25px;
        overflow: visible;

        padding: 4px;
        margin: 4px 0;
        z-index: 10;
        background: linear-gradient(90deg,rgba(68,68,68,.975),hsla(0,0%,45.5%,.975)) 50% !important;
        border-radius: 2px;
        border-color: #747474 #313131 #313131 #747474;
        border-style: groove ridge ridge groove;
        border-width: 4px;
        color: #aaa;
        text-shadow: #443 1px 1px;

        a {
            padding: 0 8px;
            text-align: left;
            font-weight: 400;
            cursor: crosshair;

            &:hover {
                background: rgba(37,38,39,.125);
                cursor: crosshair;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;

                    background: url(/images/yubi.png) left 0rem top 0.5em no-repeat;
                    background-size: 2em;
                    width: 2rem;
                    height: 2rem;
                    left: -2rem;
                    margin-left: .5rem;
                    z-index: 200;
                }
            }
        }
    }

    .mobileMenuContainer {
        margin-left: 10px;
    }

    @media (--phone) {
        .text,
        .mark {
            font-size: 14px;
        }
    }
}

footer {
    margin: 0 auto 19px !important;
    display: grid;
    align-items: center;
    text-align: left !important;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    padding: 0 20px !important;

    @media (--tablet) {
        max-width: 800px !important;
    }

    @media (--phone) {
        display: initial !important;
        flex-direction: initial !important;
    }

    .footerCopyrights {
        font-size: .8rem;
        font-weight: 400;
    
        &:not(:first-of-type) {
            border: none !important;
            margin-left: 0 !important;
            padding-left: 0 !important;
        }
    }
}

.content {
    @media (--tablet) {
        max-width: inherit !important;
    }

    .infoBanner {
        margin: 28px 0 40px !important;
        background: transparent !important;
        padding: 0;

        color: #9494a4 !important;
        text-shadow: #443 1px 1px !important;
    }

    .post {
        font-weight: 400;
        margin: 0 auto 10px;

        &:not(:last-of-type) {
            border-bottom: 0 !important;
        }

        .postContent {
            border-radius: 2px;
            border-width: 6px;
            border-style: groove ridge ridge groove; /* Top Right Bottom Left */

            padding: 1rem 1.5rem 1.75rem;
            color: rgba(237, 237, 237, .5625);
            text-shadow: rgba( 65,  65,  49, .625) 1px 1px;

            &:nth-of-type(1) {
                margin-top: -2rem;
            }
        
            h1, h2, h3, h4, h5, h6, strong {
                color: #eee;
            }

            h2, h3, h4, h5, h6 {
                margin-top: 2rem;
                margin-bottom: 1rem;
            }

            h1 {
                font-size: 2rem;
                text-shadow: #443 3px 3px;
            }

            h2, h3 {
                text-shadow: #443 2px 2px;
            }

            h4, h5, h6, strong {
                text-shadow: #443 1px 1px;
            }

            .navigation {
                margin: 30px 0 0 !important;

                a {
                    padding: 8px 16px 0;
                }
            }

            code {
                color: #dede08;
                text-shadow: #292929 1px 1px;
                border: none;
                background: none;
                padding: 0;
            }

            pre code {
                color: inherit;
                text-shadow: inherit;
                border: inherit;
                background: inherit;
            }

            pre[class*=language-] {
                border-radius: 4px;
                overflow-y: hidden;
            }

            .line-numbers .line-numbers-rows {
                top: 0;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

            .twitter-tweet {
                text-shadow: none;
            }

            @media (--tablet) {
                max-width: inherit !important
            }
        
            @media (--phone) {
                padding: .75rem 1.25rem 1rem;
            }
        }

        .navigation {
            margin: 20px 0 0px!important;
        }
    }
}

.index.post-container .post {
    &:nth-of-type(1) {
        margin-top: -40px;

        @media (--tablet) {
            margin-top: -28px;
        }
    
        @media (--phone) {
            margin-top: -2%;
        }
    }
}

.page.post-container .post {
    margin-top: 30px;

    a {
        color: #6ab4ee;
        text-shadow: #292929 1px 1px;
        text-decoration: none;
        word-break: break-all;
    }
}

.dark-theme {
    .text,
    .mark {
        color: #eee;
    }
      
    .main-logo-container .cover:after {
        background: linear-gradient(180deg, transparent, var(--dark-background));
    }

    .post .postContent {
        background: linear-gradient(to right, rgba(68, 68, 68, .67), rgba(116, 116, 116, .67)) center center;
        border-color: #747474 #313131 #313131 #747474; /* Top Right Bottom Left */

        color: #aaa;
        text-shadow: #443 1px 1px;
    }

    .tags,
    .readMore,
    .navigation {
        a {
            color: #9494a4 !important;
            text-shadow: #443 1px 1px !important;
        }
    }
}

.light-theme {
    .text,
    .mark {
        color: #222;
    }

    .main-logo-container .cover:after {
        background: linear-gradient(180deg, transparent, var(--light-background));
    }

    .post .postContent {
        background: linear-gradient(to right, rgba(68, 68, 68, .9), rgba(116, 116, 116, .9)) center center;
        border-color: #999 #444 #444 #999; /* Top Right Bottom Left */

        color: #ccc;
        text-shadow: #443 1px 1px;

        .tags,
        .readMore,
        .navigation {
            a {
                color: #9494a4 !important;
                text-shadow: #443 1px 1px !important;
            }
        }
    }

    .tags,
    .readMore,
    .navigation {
        a {
            color: #9494a4 !important;
            text-shadow: #eee 1px 1px !important;
        }
    }
}
